.signIn {
  //   min-height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  div {
    border-radius: 5px;
    background-color: $primary;
    padding: 10px;
  }

  h3 {
    text-decoration: underline;
  }

  label {
    text-transform: capitalize;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .buttonContainer {
    padding: 10px;

    button {
      width: 100%;
      background-color: $accent;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  @include breakpoint(medium) {
    width: 50%;
    margin: 0 auto;
  }
}
